body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.flex {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  flex-wrap: nowrap;
}

nav {
  padding: 0px 20px 0px 20px;
}

.leftAlign {
  float: left;
}
.rightAlign {
  float: right;
}

.center {
  margin: auto;
}

.google {
  margin-top: 180px;
  margin-bottom: 20px;
}

input {
  height: 40px;
  width: 500px;
  padding: 0px, 40px;
  border-width: 1pt;
  border-style: solid;
  border-radius: 50px;
  border-color: rgba(201, 202, 201, 0.973);
  margin-bottom: 20px;
}

form {
  margin: auto;
}

.searchbutton {
  background-color: #f1ededec;
  width: 130px;
  height: 35px;
  color: rgb(106, 106, 107);
  font-size: 10pt;
  border-radius: 4px;
  border: none;
  margin: none;
}

/* list items */

li {
  display: inline;
  vertical-align: middle;
  margin: 5px;
  font-size: 14px;
}

li a {
  text-decoration: none;
  color: black;
  padding-right: 5px;
}

footer {
  background-color: #f2f2f2;
  position: absolute;
  bottom: 0;
  height: 20px;
  width: 100%;
  padding: 10px 0px 10px 0px;
  border-style: solid;
  border-width: 0.5pt;
  border-color: rgb(236, 235, 235);
}

.rightFooter {
  float: right;
  padding-right: 20px;
}

.leftFooter {
  float: left;
  padding-left: 20px;
}

.signin {
  border-radius: 10px;
  background-color: lightblue;
  border: none;
  height: 30px;
  width: 75px;
  color: white;
}

#none {
  text-decoration: none;
}
